<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Import Vue -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://unpkg.com/vue@3.0.5/dist/vue.global.js"></script>

     <!-- bootstrap -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- my own styling -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <!--<link rel="stylesheet" href="static/css/style.css">-->

   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

    <!-- my own Javascript -->
    <script type="text/javascript" src="{{url_for('static', filename='javascript/uis_subsea2021.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/kontroller.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/kamera.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/bildebehandling.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/rov.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/motorpaadrag.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/manipulator.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='javascript/sensorinfo.js')}}"></script>



    <title>UiS Subsea</title>
</head>


<body>

    <div id="app">
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div id="container">
                <img src="static/logo/logo.png" alt="Subsea" width="40">
                <a class="navbar-brand">UiS Subsea</a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav  mr-auto mt-2 mt-lg-0">
                        <a class="nav-link" href="{{url_for('index')}}">BRUKERGRENSESNITT<span class="sr-only"></span></a>
                        <a class="nav-link" href="http://192.168.3.172:3510/stream/player/front">FRONTKAMERA</a>
                        <a class="nav-link" href="http://192.168.3.172:3510/stream/player/bunn">BUNNKAMERA</a>
                </div>
            </div>
        </nav>


        <div class="main">

        <div class="container-1">

            <div class="row-1">

                <!-- KONTROLLER -->
                <div class="box p-3 bg-dark text-white">
                    <kontroller></kontroller>
                </div>

                <!-- KAMERA -->
                <div class="box p-3 bg-dark text-white">
                    <kamera></kamera>
                </div>

            </div>

            <div class="row-1">

                <!-- ROV -->
                <div class="box bg-dark mx-3 text-white">
                    <rov :dybde="dybde"></rov>
                </div>

            </div>

            <div class="row-1">
                <!-- SENSORINFO -->
                <div class="box bg-dark mx-3 text-white">
                    <sensorinfo></sensorinfo>
                </div>

            </div>

        </div>


        <div class="container-2">
            <div class="row-1">
                <!-- BILDEBEHANDLING -->
                <div class="box p-3 bg-dark text-white">
                    <bildebehandling></bildebehandling>
                </div>
            </div>

            <div class="row-1">
                <!-- MOTORPÅDRAG -->
                
                <!-- Rov -->
                <div class="box p-3 bg-dark text-white">
                    <motorpaadrag></motorpaadrag>
                </div>
            </div>
            
            <div class="row-1">
                <!-- Manipulator -->
                <div class="box p-3 bg-dark text-white">
                    dybde: {{ dybde }}
                    <manipulator></manipulator>
                </div>
            </div>

        </div>

    </div>
</div>   

<script>
    const app = Vue.createApp({
        props: ['bildebehandling', 'kamera', 'kontroller', 'manipulator', 'motorpaadrag', 'rov', 'sensorinfo'],
        // the data used in this app
        data() {
            return { 
                
                dybde: 10
            }
        },
        methods: {

        },
        computed: {
        },

    })
    app.component('kontroller', kontrollerC);
    app.component('kamera', kameraC);
    app.component('rov', rovC);
    app.component('bildebehandling', bildebehandlingC);
    app.component('motorpaadrag', motorpaadragC);
    app.component('manipulator', manipulatorC);
    app.component('sensorinfo', sensorinfoC);

    app.mount("#app");
</script>

</body>
</html>